.htmlScreen {
  display: flex;
  flex-direction: column;
  width: 1350px;
  height: 870px;
  border: none;
  border-radius: 30px !important;
  background: #fff;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 940px) {
  .htmlScreen {
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 1300px;
    border: none;
    border-radius: 80px !important;
    background: #fff;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.htmlScreen::-webkit-scrollbar {
  display: none;
}

.contentEmbed {
  position: relative;
  /* display: none; */

  overflow: scroll;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  flex: 2;
  padding: 12%;
  font-family: var(--font-oswald);
  font-size: 2rem;
  font-weight: 500;
  gap: 1rem;
}

.cv {
  min-height: 100vh;
  min-width: 100%;
}
