.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
}

.pageContainer {
  flex: 1;
  padding: 12%;
  max-width: 60vw;
  min-width: 60vw;
  font-family: var(--font-oswald);
  font-size: 20px;
  font-weight: 500;
}
