.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
}

.navContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 10rem 4rem 10rem 4rem;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -10px;
}

.headerLabel {
  font-family: var(--font-plus-jakarta);
  font-size: 5rem;
  letter-spacing: -3px;
  line-height: 0.9;
}

.headerSubLabel {
  font-family: var(--font-oswald);
  font-size: 1.2rem;
}

.menuList {
  display: flex;
  min-height: 130px;
  flex-direction: column;
  list-style-type: none;
  font-family: var(--font-plus-jakarta);
  font-size: 20px;
  gap: 0.5rem;
}

.menuItem {
  display: flex;
  position: relative;
  height: 30px;
  width: 100px;
  margin: 2px 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.menuItem:hover::before,
.menuItem:hover::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid rgba(8, 115, 202, 0.3);
  transition: all 0.5s;
  animation: clippath 1.5s infinite linear;
  border-radius: 10px;
}

.menuItem:hover {
  height: 40px;
  width: 120px;
  color: #fff;
  background: rgba(0, 0, 128, 0.8);
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 95% 0);
  }
  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
}

.description {
  width: 350px;
  font-family: var(--font-oswald);
  font-size: 20px;
}

.pageContainer {
  flex: 1;
  padding: 6rem;
  min-width: 30vw;
}

.charges {
  cursor: pointer;
  opacity: 0;
}
